/* Fonts */
:root {
  --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Marcellus", sans-serif;
  --nav-font: "Marcellus", sans-serif;
}

/* TEMA DARK */
:root[data-theme='dark'] {
  --texto-color: #f0f0f0;  /*cor principal Textos*/
  --background-color: #1a2a22;  /*cor principal Fundo*/
  --secondary-bg-color: #ffffff;  
  --primary-border-color: #ffffff;
  --secondary-border-color: #0b6d13;
  --title-color: #F0F0F0;
  --link-color: #f8fbca;
  --link-hover: #f8fbca;
  --icon-color: #C7C8C9;
}

/* TEMA LIGHT */
:root[data-theme='light'] {
  --primary-color: #04291b; /* cor principal textos */
  background-color: #ffffffe7;
  --texto-color: #223d22;
  --primary-bg-color: #455342;
  --secondary-bg-color: #132911;
  --primary-border-color: #609163;
  --secondary-border-color: #ffffff;
  --title-color: #F0F0F0;
  --link-hover: #0b5020;
  --link-color: #3e5239;
  --icon-color: #010716;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* General Styling & Shared Classes */
body {
  color: var(--texto-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--texto-color);
  font-family: var(--heading-font);
}

.dignevirtue h1 {
  text-align: center;
  color: var(--link-hover);
}

.dignevirtue p {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  color: var(--texto-color);
}

html[data-theme='light'] .logo {
  filter: invert(1);
}

span {
  color: var(--link-color);
}

.educacao, .fome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.educacao img, .fome img {
  max-width: 100%;
}

.educacao .texto, .fome .texto {
  font-size: 18px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Responsividade */

@media (max-width: 1024px) {
  .dignevirtue p {
    font-size: 18px;
    padding: 1.5rem 1rem;
  }
  .educacao .texto, .fome .texto {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .educacao, .fome {
    flex-direction: column;
    padding: 15px;
  }

  .educacao img, .fome img {
    max-width: 90%;
  }

  .educacao .texto, .fome .texto {
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
  }

  .dignevirtue p {
    font-size: 16px;
    width: 90%;
  }

  .navmenu a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 90%;
  }

  .dignevirtue p {
    font-size: 14px;
  }

  .pulsating-play-btn {
    width: 64px;
    height: 64px;
  }
}

/* Footer Responsivo */
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }

  .footer .social-links a {
    width: 30px;
    height: 30px;
  }
}

#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem ;
  text-align: center;
  position: relative;
}


.missão {
  text-align: center;
  margin-top: 30px;
}

.missão h1 {
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-border-color); 
  width: 20rem; 
  height: 20rem; 
  justify-content: center; 
  border-radius: 10px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
  padding: 10px; 
}

/* Efeito de hover para os quadrados */
.icon-item:hover {
  transform: scale(1.05); 
}

/* Estilo dos ícones */
.icon-item i {
  font-size: 3rem; 
  margin-bottom: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #0B0B0F;
}

/* Efeito de hover para os ícones */
.icon-item i:hover {
  color:var(--secondary-border-color); 
  transform: scale(1.2); 
}

/* Estilo dos itens de lista */
.icon-item li {
  margin: 0;
  list-style-type: none;
  font-size: 1.5rem; 
  transition: color 0.3s ease;
  color: black;
}

/* Efeito de hover para os itens de lista */
.icon-item li:hover {
 color: var(--secondary-border-color);
 
}


.page-title:before {
  content: "";
  
  
  inset: 0;
}

.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
color: #000000;
}
.skills-content .progress-bar {
  margin-top: 10rem;
  width: 0; /* Começa com largura zero para o efeito de preenchimento */
  height: 100%;
  transition: width 2s ease-in-out; /* Transição suave */
}

.skills-content .progress-bar.html {
  background-color: #e44d26; /* Cor para HTML */
}

.skills-content .progress-bar.css {
  background-color: var(--link-color)/* Cor para CSS */
}

.skills-content .progress-bar.js {
  background-color: var(--link-color); /* Cor para JavaScript */
}

.skills-content .progress-bar.photoshop {
  background-color:var(--link-color) /* Cor para Photoshop */
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--link-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
}

.section-title p {
  margin-bottom: 0;
  font-family: var(--heading-font);
  font-size: 20px;
  color: var(--texto-color);
}


/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.skills .content p {
  color: color-mix(in srgb, var(--link-color), transparent 30%);
}

.skills .content p:last-child {
  margin-bottom: 0;
}

.skills .content ul {
  list-style: none;
  padding: 0;
}

.skills .content ul li {
  padding-bottom: 10px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  color: var(--link-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--heading-font);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: color-mix(in srgb, var(--link-color), transparent 90%);
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--link-color);
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  padding: 0;
}

.hero .carousel {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  position: relative;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero .carousel-item:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 60%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .carousel-container {
  position: absolute;
  inset: 90px 64px 64px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;

}
.hero .carousel-container p{
font-size: 23px;
}
.hero h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  animation: fadeInDown 1s both;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 30px;
  }
}

.hero p {
  animation: fadeInDown 1s both 0.2s;
}

@media (min-width: 1024px) {

  .hero h2,
  .hero p {
    max-width: 60%;
  }
}

.hero .btn-get-started {
  color: var(--texto-color);
  background: var(--accent-color);
  font-family: var(--texto-color);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  width: 10%;
  transition: 0.3s;
  opacity: 0.5;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

@media (min-width: 1024px) {

  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

.hero .carousel-indicators {
  list-style: none;
}

.hero .carousel-indicators li {
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .section-title h1 {
 color: var(--link-color);
  font-size: 30px;
  font-weight: 20px;
}
.services .section-title .serviços{
  color: #f8faba;
padding-right: 90px;
}

.services .content .service-item {
  background-color: var(--surface-color);
  padding: 20px 30px;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  border-left: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  position: relative;
}

.services .content .service-item .number {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: 400;
  color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.services .content .service-item .service-item-icon {
  position: relative;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.services .content .service-item .service-item-icon img {
  width: 50px;
}

.services .content .service-item .service-item-icon:before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  z-index: -1;
  left: -20px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid var(--accent-color);
  display: none;
}

.services .content .service-item .service-item-icon>span {
  color: var(--default-color);
  font-size: 4rem;
}

.services .content .service-item .service-item-content .service-heading {
  font-size: 20px;
  color: var(--default-color);
  font-weight: 400;
}

.services .content .service-item .service-item-content p {
  font-size: 15px;
}

@media (min-width: 769px) {
  .services .content [class^=col-]:nth-child(4n+4) .service-item {
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .services .content [class^=col-]:nth-last-child(-n+4) .service-item {
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
}

@media (max-width: 768px) {
  .services .content [class^=col-]:nth-child(2n+2) .service-item {
    border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .services .content [class^=col-]:last-child .service-item,
  .services .content [class^=col-]:nth-last-child(2) .service-item {
    border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
}

@media (max-width: 576px) {
  .services .content [class^=col-] .service-item {
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .section-title {
  margin-bottom: 60px;
}

.about .content {
  background: var(--title-color);
  color: var(--texto-color);
  padding: 7rem 0;
}

.about .content .img-overlap {
  margin-top: -150px;
}

.about p {
  color: var(--texto-color);
}

.about .content-title {
  color: #F0F0F0;
  font-weight: 300;
  text-align: left;
}


.about .content-title strong {
  font-weight: 700;
}

.about .content-subtitle {
  font-weight: 300;
  color: var(--link-hover);
  text-transform: uppercase;
  font-size: 1.3rem;
}
/*--------------------------------------------------------------
# Services 2 Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonials .testimonial blockquote p {
  font-size: 20px;
  color: var(--default-color);
  font-weight: 500;
}

.testimonials .testimonial .client-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Recent Posts Section
--------------------------------------------------------------*/
.recent-posts .post-item {
  background: var(--surface-color);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.recent-posts .post-item .post-img img {
  transition: 0.5s;
}

.recent-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  color: var(--contrast-color);
  text-transform: uppercase;
  font-size: 13px;
  padding: 6px 12px;
  font-weight: 500;
}

.recent-posts .post-item .post-content {
  padding: 30px;
}

.recent-posts .post-item .post-title {
  color: var(--heading-color);
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.recent-posts .post-item .meta i {
  font-size: 16px;
  color: var(--accent-color);
}

.recent-posts .post-item .meta span {
  font-size: 15px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.recent-posts .post-item hr {
  color: color-mix(in srgb, var(--default-color), transparent 80%);
  margin: 20px 0;
}

.recent-posts .post-item .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.recent-posts .post-item .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: 16px;
}

.recent-posts .post-item:hover .post-title,
.recent-posts .post-item:hover .readmore {
  color: var(--accent-color);
}

.recent-posts .post-item:hover .post-img img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action .content {
  padding: 20px 0;
}

.call-to-action .content h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.call-to-action .content .form-subscribe .form-control {
  border: 2px solid var(--accent-color);
  background: var(--surface-color);
  border-radius: 0;
}

.call-to-action .content .form-subscribe input[type=email] {
  height: 63px !important;
  color: var(--default-color);
}

.call-to-action .content .form-subscribe input[type=email]:focus {
  box-shadow: none;
}

.call-to-action .content .form-subscribe input[type=email]::placeholder {
  color: color-mix(in srgb, var(--contrast-color), transparent 50%);
}

.call-to-action .content .loading,
.call-to-action .content .error-message,
.call-to-action .content .sent-message {
  margin-top: 15px;
}

.call-to-action .content .btn {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 0;
}

.call-to-action .content .btn:hover,
.call-to-action .content .btn:active,
.call-to-action .content .btn:focus {
  box-shadow: none;
  outline: none;
  background-color: var(--contrast-color);
  border: 1px solid var(--contrrast-color);
}

/*--------------------------------------------------------------
# About 3 Section (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .about-3 .btn-cta {
    font-size: 12px;
    padding: 15px 20px;
  }

  .about-img-container {
    flex-direction: column;
    gap: 2rem; /* Reduz o espaço para telas menores */
  }

  .about-img-container p {
    max-width: 100%;
    font-size: 18px;
  }

  .img-about3 {
    font-size: 5rem; /* Reduz o tamanho da fonte para telas pequenas */
  }
}

/*--------------------------------------------------------------
# Dignevirtue Areas (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .dignevirtue-areas {
    flex-direction: column;
    align-items: center;
  }

  .area {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Saúde Section (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .saude img {
    width: 60%; /* Ajusta a largura da imagem para telas menores */
    float: none;
    margin: 0 auto;
    display: block;
  }

  .saude h1 {
    font-size: 24px;
    text-align: center;
    margin-left: 0;
  }

  .saude p {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .atua-saude {
    width: 100%;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Team Section (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .team .person {
    margin-bottom: 20px;
  }

  .team .person .person-contents h3 {
    font-size: 20px;
  }

  .team .person .social a {
    width: 30px;
    height: 30px;
  }

  .team .person .social a>span {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Contact Section (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .contact .info {
    padding: 20px;
  }

  .contact .php-email-form button[type=submit] {
    padding: 10px 30px;
  }

  .contact .php-email-form input[type=text],
  .contact .php-email-form input[type=email],
  .contact .php-email-form textarea {
    font-size: 12px;
  }
}

/*--------------------------------------------------------------
# Widgets (Responsive)
--------------------------------------------------------------*/

@media (max-width: 768px) {
  .recent-posts-widget .post-item {
    flex-direction: column;
    align-items: center;
  }

  .recent-posts-widget .post-item img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .recent-posts-widget .post-item h4 {
    text-align: center;
  }

  .categories-widget ul a,
  .tags-widget ul a {
    font-size: 12px;
    padding: 4px 10px;
  }
}
